[submodule "3rdparty/housegan"]
	path = 3rdparty/housegan
	url = https://github.com/ennauata/housegan
[submodule "3rdparty/houseganpp"]
	path = 3rdparty/houseganpp
	url = https://github.com/ennauata/houseganpp
[submodule "overleaf/progress-report"]
	path = overleaf/progress-report
	url = https://git.overleaf.com/6186346226f07564af4760b3
